div.spinner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #EAEAEA;
  z-index: 2;
  transition: opacity 1s, visibility 5s;
  animation: loading-bg 1s 3s forwards;
}
div.spinner::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid #FFFFFF;
  border-top-color: #9356DC;
  border-radius: 50%;
  animation: loading 0.5s linear infinite;
}
@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
@keyframes loading-bg {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: scale(0);
  }
}

/****HEADER****/
header .header_content {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding-left: 50px;
}
header .header_content .ohmyfoodlogo img {
  max-width: 162px;
  padding: 14px 0px 14px 0px;
}
header .header_content .back {
  position: absolute;
  left: 50px;
}
header .header_content .back i {
  width: 30px;
  height: 30px;
  position: absolute;
  padding-top: 20px;
}

/****** Media queries ***********/
@media (min-width: 1025px) {
  .ohmyfoodlogo img {
    max-width: 200px;
    padding: 0px 0px 0px 0px;
  }
  .back i {
    width: 30px;
    height: 30px;
    position: absolute;
    padding-top: 20px;
  }
}
body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px auto;
}

a {
  text-decoration: none;
  color: #000;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Shrikhand;
  font-size: 30px;
  font-weight: 700;
}

/**** Section Location ****/
.back-location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #EAEAEA;
  height: 50px;
}
.back-location .location {
  display: flex;
  flex-direction: row;
  gap: 17px;
  justify-content: center;
  align-items: center;
}
.back-location .location i {
  color: #353535;
}
.back-location .location h2 {
  font-weight: 500;
  font-size: 16px;
}

/**** Section Explo ****/
.explo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 1;
  height: 287px;
  background-color: #f7f7f7;
}
.explo h2 {
  font-weight: 700;
  font-size: 24px;
  margin: 40px 20px 20px 20px;
}
.explo p {
  font-weight: 300;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  margin: 0px 20px 20px 20px;
}
.explo .submitebutton {
  background-image: linear-gradient(193.33deg, #FF79DA -11.44%, #9356DC 123.93%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  width: 218px;
  height: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  transition: box-shadow 0.5s, opacity 0.5s, transform 0.5s;
}
.explo .submitebutton:hover {
  opacity: 85%;
  box-shadow: 4px 8px 10px 4px rgba(0, 0, 0, 0.25);
  -ms-transform: scale(1.01);
  /* IE 9 */
  -webkit-transform: scale(1.01);
  /* Safari 3-8 */
  transform: scale(1.01);
}
.explo .submitebutton .texte_search {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
}

/**** Section Fonctionnement ****/
.fonctionnement {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
}
.fonctionnement .fonctionnement_title {
  padding-left: 3%;
  width: 97%;
}
.fonctionnement .fonctionnement-buttons {
  display: flex;
  flex-direction: column;
  width: 90%;
}
.fonctionnement .fonctionnement-buttons .etape {
  display: flex;
  align-items: center;
  justify-content: center;
}
.fonctionnement .fonctionnement-buttons .number {
  display: flex;
  border-radius: 50%;
  height: 24px;
  width: 24px;
  border: 0px solid #000000;
  align-items: center;
  justify-content: center;
  margin-right: -30px;
  z-index: 1;
  background-color: #9356DC;
  color: #FFFFFF;
}
.fonctionnement .fonctionnement-buttons .submitebutton_fonctionnement {
  cursor: pointer;
  width: 100%;
  background: #f7f7f7;
  border: 0px solid;
  padding: 28px 38px;
  margin: 12px;
  border-radius: 20px;
  min-width: 290px;
}
.fonctionnement .fonctionnement-buttons .submitebutton_fonctionnement .fa-solid {
  color: #7e7e7e;
  font-size: 18px;
}
.fonctionnement .fonctionnement-buttons .submitebutton_fonctionnement .texte_searchfonction {
  color: #000000;
  padding-left: 23px;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
}
.fonctionnement .fonctionnement-buttons .submitebutton_fonctionnement:hover .fa-solid {
  color: #9356dc;
}

/**** RESTAURANTS ****/
.restaurants {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f7f7f7;
  /**** CARDS****/
}
.restaurants .title_restaurants {
  padding-left: 3%;
  padding-top: 34px;
  font-size: 24px;
  font-weight: 700;
}
.restaurants .card {
  background-color: white;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  margin: 0px 15px 18px 14px;
}
.restaurants .card img {
  object-fit: cover;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 174px;
}
.restaurants .card .card-content {
  padding-left: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.restaurants .card .card-content .card-title {
  font-size: 16px;
}
.restaurants .fa-regular {
  padding-top: 23px;
  padding-right: 25px;
  cursor: pointer;
  font-size: 22px;
}
.restaurants .fa-regular:hover {
  transition: color 0.5s;
  font-weight: bold;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(193.33deg, #FF79DA -11.44%, #9356DC 123.93%);
}

/****** Media queries ***********/
/* Medium devices (tablets and desktops above 1024px) */
@media (min-width: 1025px) {
  body {
    max-width: 1440px;
    align-items: center;
  }
  h1 {
    font-size: 40px;
  }
  .explo h2 {
    padding-bottom: 18px;
  }
  .fonctionnement .fonctionnement-buttons {
    flex-direction: row;
    gap: 3%;
    justify-content: center;
  }
  .restaurants .title_restaurants {
    padding-bottom: 30px;
  }
  .restaurants .restaurants-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 30px;
    justify-content: center;
  }
  .restaurants .restaurants-card .card {
    min-width: 490px;
  }
  .restaurants .restaurants-card .card img {
    max-height: 235px;
  }
  .restaurants .restaurants-card .card .card-content {
    padding-left: 15px;
    min-width: 490px;
  }
}
/**** Footer ****/
footer {
  background-color: #353535;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  width: 100%;
}
footer h2 {
  margin: 0;
  padding-left: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
  font-family: "Shrikhand";
  font-size: 18px;
  font-weight: 400;
  line-height: 26.24px;
}
footer p {
  margin: 0;
  padding-left: 25px;
  padding-bottom: 15px;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
}
footer p a {
  color: #FFFFFF;
}
footer p a .fa-utensils {
  padding-right: 10px;
}
footer p a .fa-handshake-angle {
  padding-right: 5px;
}
footer p.contact {
  padding-bottom: 25px;
}

/****** Media queries ***********/
@media (min-width: 1025px) {
  footer {
    flex-direction: row;
    justify-content: flex-end;
    height: 114px;
  }
  footer h2 {
    width: 20%;
    order: 2;
    padding-bottom: 30px;
    padding-top: 60px;
    text-align: center;
  }
  footer p {
    order: 1;
    padding-top: 25px;
    padding-bottom: 30px;
    padding-top: 62px;
  }
}
/**** resto ****/
header .header_content {
  justify-content: center;
}
header .image-restaurant {
  width: 100%;
  height: 275px;
  object-fit: cover;
}

.section_menu {
  background-color: #f7f7f7;
  position: relative;
  margin-top: -70px;
  min-width: 100%;
  border-radius: 40px 40px 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section_menu .titleandheart {
  display: flex;
  justify-content: space-around;
}
.section_menu .titleandheart h2 {
  padding-top: 14px;
  padding-left: 17px;
  font-family: Shrikhand;
  font-size: 28px;
  font-weight: 400;
  margin: 0;
}
.section_menu .titleandheart .fa-regular {
  padding-top: 23px;
  padding-right: 25px;
  cursor: pointer;
  font-size: 22px;
  padding-left: 50px;
}
.section_menu .titleandheart .fa-regular:hover {
  transition: color 0.5s;
  font-weight: bold;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(193.33deg, #FF79DA -11.44%, #9356DC 123.93%);
}
.section_menu .menu {
  width: 80%;
  align-items: center;
  animation: fadeIn 0.5s both;
}
.section_menu .menu h3 {
  text-transform: uppercase;
  padding-bottom: 6px;
  font-weight: 300;
  font-size: 16px;
  line-height: 18.75px;
  width: 90%;
  margin-top: 40px;
}
.section_menu .menu hr {
  color: #99E2D0;
  background-color: #99E2D0;
  border-width: 0;
  width: 40px;
  margin-left: 0%;
  margin-top: -15px;
  height: 3px;
  margin-bottom: 20px;
}
.section_menu .menu .resto_cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section_menu .menu .resto_cards .card {
  height: 69px;
  display: flex;
  justify-content: space-between;
  background-color: #FFFFFF;
  cursor: pointer;
  box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
  border-radius: 15.0431px;
  margin-bottom: 12px;
  padding-left: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.section_menu .menu .resto_cards .card .card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  padding-right: 15px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 12px;
  padding-bottom: 10px;
}
.section_menu .menu .resto_cards .card .card-content h4 {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.section_menu .menu .resto_cards .card .card-content div {
  display: flex;
  justify-content: space-between;
}
.section_menu .menu .resto_cards .card .card-content div p {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.section_menu .menu .resto_cards .card .card-content div .card-price {
  min-width: 30px;
  font-weight: 700;
}
.section_menu .menu .resto_cards .card .tick {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  width: 59px;
  border-radius: 0px 15px 15px 0px;
  border: 0px transparent;
  cursor: pointer;
  margin-right: -60px;
  transition: all 0.4s linear;
}
.section_menu .menu .resto_cards .card .tick .fa-circle-check {
  color: #FFFFFF;
  font-size: 21px;
}
.section_menu .menu .resto_cards .card:hover .tick {
  margin-right: 0;
}
.section_menu .buttonrestopages {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
.section_menu .buttonrestopages .submitebutton {
  background-image: linear-gradient(193.33deg, #FF79DA -11.44%, #9356DC 123.93%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  width: 218px;
  height: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  transition: box-shadow 0.5s, opacity 0.5s, transform 0.5s;
}
.section_menu .buttonrestopages .submitebutton:hover {
  opacity: 85%;
  box-shadow: 4px 8px 10px 4px rgba(0, 0, 0, 0.25);
  -ms-transform: scale(1.01);
  /* IE 9 */
  -webkit-transform: scale(1.01);
  /* Safari 3-8 */
  transform: scale(1.01);
}
.section_menu .cascade-delay-1 {
  animation-delay: 500ms;
}
.section_menu .cascade-delay-2 {
  animation-delay: 1000ms;
}
.section_menu .cascade-delay-3 {
  animation-delay: 1500ms;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (min-width: 1055px) {
  header {
    width: 100%;
  }
  header .image-restaurant {
    height: 350px;
  }
  .section_menu {
    width: 1055px;
  }
  .titleandheart {
    padding-top: 51px;
    padding-bottom: 40px;
  }
}

/*# sourceMappingURL=style.css.map */
