body {
  font-family: "Roboto", sans-serif;
  max-width: 375px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px auto;
}

header img {
  display: flex;
  justify-content: center;
  width: 162px;
  padding: 14px 105px 14px 108px;
}

/**** Section Location ****/
.back-location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #EAEAEA;
  height: 50px;
}

.location {
  display: flex;
  flex-direction: row;
  gap: 17px;
  justify-content: center;
  align-items: center;
}

.location h3 {
  font-weight: 500;
  font-size: 16px;
}

/**** Section Explo ****/
.explo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 287px;
  background-color: #f7f7f7;
}
.explo .explo h2 {
  font-weight: 700;
  font-size: 24px;
  margin: 40px 20px 20px 20px;
}
.explo .explo h4 {
  font-weight: 300;
  font-size: 18px;
  margin: 0px 20px 20px 20px;
}

/**** Section Fonctionnement ****/
.Fonctionnement {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Fonctionnement .etape {
  display: flex;
  align-items: center;
}
.Fonctionnement .number {
  display: flex;
  border-radius: 50%;
  height: 24px;
  width: 24px;
  border: 0px solid #000000;
  align-items: center;
  justify-content: center;
  margin-right: -30px;
  z-index: 1;
  background-color: #9356DC;
  color: #FFFFFF;
}
.Fonctionnement .fonctionnement_title {
  padding-left: 20px;
  padding-top: 10px;
}
.Fonctionnement .fa-solid fa-store {
  color: #9356dc;
}

/**** RESTAURANTS ****/
.Restaurants {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f7f7f7;
}
.Restaurants .title_restaurants {
  padding-left: 20px;
  padding-top: 34px;
}
.Restaurants .fa-regular {
  padding-top: 23px;
  padding-right: 25px;
}

/* animation coeur card 

@keyframes animationheart {
    to {
        color: $purple;
    }
}

/***buttontest*

.submitebutton{
     width: 218px;
     height: 50px;
     border: 0;
     background: transparent;
     color: $white;
     position: relative;
     overflow: hidden;
     padding: 20px 50px;
     border-radius: 25px;
     box-shadow: 0px 4px 10px;
     cursor: pointer;
     font-size: 1.5em;
     transition: all .2s;
}

.submitebutton::before {
    content: "";
    width: 400px;
    height: 400px;
    background: linear-gradient(250deg, $pink 50%, $purple 100%);
    position: absolute;
    top: -50px;
    left: -100px;
    z-index: -1;
    transition: all .5s;
}

.sumitebutton:hover::after{
    transform: rotate(150deg);
}

.submitebutton:hover{
    transform: translate(0,-6px);
}
**/
.submitebutton {
  padding: 13px 18.75px;
  border: 0px solid;
  box-shadow: 0px 4px 10px;
  border-radius: 25px;
  background: linear-gradient(193.33deg, #FF79DA -11.44%, #9356DC 123.93%);
}

.submitebutton_fonctionnement {
  background: #f7f7f7;
  border: 0px solid;
  padding: 28px 38px;
  margin: 12px;
  border-radius: 20px;
  min-width: 322px;
}

.texte_search {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
}

.texte_searchfonction {
  color: #000000;
  padding-left: 23px;
}

/**** CARDS****/
.card {
  background-color: white;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  margin: 0px 15px 18px 14px;
}

.card-content {
  padding-left: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card img {
  object-fit: cover;
  width: 100%;
  max-height: 174px;
  border-radius: 15px 15px 0px 0px;
}

.card-title {
  font-size: 16px;
}

/**** Footer ****/
.footerstyle {
  display: flex;
  flex-direction: column;
  background-color: #353535;
}
.footerstyle .footer-list li {
  color: #FFFFFF;
  list-style-type: none;
}
.footerstyle .footer-list a {
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 500;
}
.footerstyle .footer-list i {
  width: 12px;
  height: 12px;
  margin-right: 15px;
}

.second-list {
  font-weight: 400;
  font-size: 16px;
}

footer img {
  width: 139px;
  padding-top: 20px;
  padding-left: 20px;
}

/*# sourceMappingURL=style.css.map */
