/**** Footer ****/

.footerstyle {
    display: flex;
    flex-direction: column;
    background-color: $darkgrey;
    justify-content: center;
    align-items: center;
    
        .customer_list,
        .legal_notice {
            list-style-type: none;
        }
    
        .customer_list li,
        .legal_notice li {
            color: $white;
            
        }
}

