body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px auto;
}

a {
    text-decoration: none;
    color: #000;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Shrikhand;
    font-size: 30px;
    font-weight: 700;
}


/**** Section Location ****/
.back-location {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: $grey2;
    height: 50px;

    .location {
        display: flex;
        flex-direction: row;
        gap: 17px;
        justify-content: center;
        align-items: center;

        i {
            color: $darkgrey;
        }

        h2 {
            font-weight: 500;
            font-size: 16px;
        }
    }

}

/**** Section Explo ****/
.explo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1;
    height: 287px;
    background-color: $lightgrey2;

    h2 {
        font-weight: 700;
        font-size: 24px;
        margin: 40px 20px 20px 20px;
    }

    p {
        font-weight: 300;
        font-size: 18px;
        font-style: normal;
        line-height: normal;
        margin: 0px 20px 20px 20px;
    }

    .submitebutton {
        @include button-purple;

        .texte_search {
            color: $white;
            font-size: 16px;
            font-weight: 500;
        }
    }
}

/**** Section Fonctionnement ****/

.fonctionnement {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;

    .fonctionnement_title {
        padding-left: 3%;
        width: 97%;
    }

    .fonctionnement-buttons {
        display: flex;
        flex-direction: column;
        width: 90%;

        .etape {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .number {
            display: flex;
            border-radius: 50%;
            height: 24px;
            width: 24px;
            border: 0px solid $black;
            align-items: center;
            justify-content: center;
            margin-right: -30px;
            z-index: 1;
            background-color: $purple;
            color: $white;
        }



        .submitebutton_fonctionnement {
            cursor: pointer;
            width: 100%;
            background: $lightgrey2;
            border: 0px solid;
            padding: 28px 38px;
            margin: 12px;
            border-radius: 20px;
            min-width: 290px;

            .fa-solid {
                color: $grey3;
                font-size: 18px;
            }

            .texte_searchfonction {
                color: $black;
                padding-left: 23px;
                font-size: 16px;
                font-weight: 500;
                font-style: normal;
            }

            &:hover {
                .fa-solid {
                    color: $foncpurple;
                }
            }
        }
    }

}



/**** RESTAURANTS ****/

.restaurants {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $lightgrey2;

    .title_restaurants {
        padding-left: 3%;
        padding-top: 34px;
        font-size: 24px;
        font-weight: 700;
    }

    /**** CARDS****/
    .card {
        background-color: white;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
        border-radius: 15px;
        filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
        margin: 0px 15px 18px 14px;

        img {
            object-fit: cover;
            width: 100%;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            height: 174px;
        }

        .card-content {
            padding-left: 15px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .card-title {
                font-size: 16px;
            }
        }
    }

    .fa-regular {
        padding-top: 23px;
        padding-right: 25px;
        @include like
    }
}

/****** Media queries ***********/
/* Medium devices (tablets and desktops above 1024px) */
@media (min-width:1025px) {

    body {
        max-width: 1440px;
        align-items: center;

    }

    h1 {
        font-size: 40px;
    }

    .explo {

        h2 {
            padding-bottom: 18px;
        }

    }

    .fonctionnement {
        .fonctionnement-buttons {
            flex-direction: row;
            gap: 3%;
            justify-content: center;
        }
    }

    .restaurants {
        .title_restaurants {
            padding-bottom: 30px;
        }

        .restaurants-card {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            padding-bottom: 30px;
            justify-content: center;

            .card {
                min-width: 490px;

                img {
                    max-height: 235px;
                }

                .card-content {
                    padding-left: 15px;
                    min-width: 490px;
                }
            }

        }

    }

}