/**** resto ****/

header {

    .header_content {
        justify-content: center;
    }

    .image-restaurant {
        width: 100%;
        height: 275px;
        object-fit: cover;
    }
}

.underline {
    text-decoration: 4px underline $blueline;
}

.section_menu {
    background-color: $lightgrey2;
    position: relative;
    margin-top: -70px;
    min-width: 100%;
    border-radius: 40px 40px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .titleandheart {
        display: flex;
        justify-content: space-around;

        h2 {
            padding-top: 14px;
            padding-left: 17px;
            font-family: Shrikhand;
            font-size: 28px;
            font-weight: 400;
            margin: 0;
        }

        .fa-regular {
            padding-top: 23px;
            padding-right: 25px;
            @include like;
            padding-left: 50px
        }
    }

    .menu {
        width: 80%;
        align-items: center;
        animation: fadeIn 0.5s both;

        h3 {
            padding-left: 17px;
            font-family: Roboto;
            font-size: 16px;
            font-weight: 300;
        }

        .resto_cards {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .card-content {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                box-sizing: border-box;
                padding-right: 15px;

                div {
                    display: flex;
                    justify-content: space-between;
                }

            }

            h4 {
                font-family: Roboto;
                font-size: 18px;
                font-weight: 500;
                margin-bottom: -10px;
            }


        }
    }



    .buttonrestopages {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .cascade-delay-1 {
        animation-delay: 500ms;
    }

    .cascade-delay-2 {
        animation-delay: 1000ms;
    }

    .cascade-delay-3 {
        animation-delay: 1500ms;
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
            transform: translateY(-20px);
        }

        100% {
            opacity: 1;
            transform: translateY(0px);
        }
    }

}
.select button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $blueline;
    width: 59px;
    height: 69px;
    border-radius: 0px 15px 15px 0px;
    border: 0px transparent;
    cursor: pointer;
    opacity: 0;
}
        button:hover {
            transition: opacity 2s;
            opacity: 1;
        }
.fa-circle-check{
    color: $white;
}
/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (min-width:1055px) {
    header {
        width: 100%;

        .image-restaurant {
            height: 350px;
        }
    }

    .section_menu {
        width: 1055px;
    }

    .titleandheart {
        padding-top: 51px;
        padding-bottom: 40px;
    }
}