/**** resto ****/

.header_content {}

.back i {
    width: 30px;
    height: 30px;
}

.imgheadermenu img {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 375px;
    max-height: 275px;
}

.underline {
    text-decoration: 4px underline $blueline;
}

.section_menu {
    background-color: $lightgrey2;
    position: relative;
    top: -70px;
    min-width: 375px;
    border-radius: 40px 40px 0px 0px;

    h2 {
        padding-top: 31px;
        padding-left: 17px;
        font-family: Shrikhand;
        font-size: 28px;
        font-weight: 400;
    }

    h3 {
        padding-left: 17px;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 300;
    }

}

.resto_cards {
    display: flex;
    flex-direction: column;

    .card-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-sizing: border-box;
    }

    h4 {
        font-family: Roboto;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: -10px;
    }

    .card-price {}

}

.buttonrestopages {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
}