$grey: #D2D2D2;
$grey2 : #EAEAEA;
$grey3: #7e7e7e;
$lightgrey: #D2D2D2;
$lightgrey2: #f7f7f7;
$purple: #9356DC;
$pink: #FF79DA;
$darkgrey: #353535;
$white: #FFFFFF;
$black: #000000;
$foncpurple: #9356dc;
$blueline: #99E2D0;