body {
    font-family: 'Roboto', sans-serif;
    max-width: 375px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
}

/****HEADER****/
header img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 162px;
    padding: 14px 105px 14px 108px;
}

/**** Section Location ****/
.back-location {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: $grey2;
    height: 50px;

}

.location {
    display: flex;
    flex-direction: row;
    gap: 17px;
    justify-content: center;
    align-items: center;
}

.location h3 {
    font-weight: 500;
    font-size: 16px;
}

/**** Section Explo ****/
.explo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1;
    height: 287px;
    background-color: $lightgrey2;

    .explo h2 {
        font-weight: 700;
        font-size: 24px;
        margin: 40px 20px 20px 20px;
    }

    .explo h4 {
        font-weight: 300;
        font-size: 18px;
        font-style: normal;
        line-height: normal;
        margin: 0px 20px 20px 20px;
    }
}

/**** Section Fonctionnement ****/

.Fonctionnement {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .etape {
        display: flex;
        align-items: center;
    }

    .number {
        display: flex;
        border-radius: 50%;
        height: 24px;
        width: 24px;
        border: 0px solid $black;
        align-items: center;
        justify-content: center;
        margin-right: -30px;
        z-index: 1;
        background-color: $purple;
        color: $white;
    }

    .fonctionnement_title {
        padding-left: 20px;
        padding-top: 10px;
    }

    .fa-solid fa-store {
        color: $foncpurple;
    }
}



/**** RESTAURANTS ****/

.Restaurants {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $lightgrey2;

    .title_restaurants {
        padding-left: 20px;
        padding-top: 34px;
        font-size: 24px;
        font-weight: 700;
    }

    .fa-regular {
        padding-top: 23px;
        padding-right: 25px;
        @include like
    }
}

.submitebutton {
    @include button-purple;
}

.submitebutton_fonctionnement {
    background: $lightgrey2;
    border: 0px solid;
    padding: 28px 38px;
    margin: 12px;
    border-radius: 20px;
    min-width: 322px;
}

.texte_search {
    color: $white;
    font-size: 16px;
    font-weight: 500;
}

.texte_searchfonction {
    color: $black;
    padding-left: 23px;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
}

/**** CARDS****/

.card {
    background-color: white;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    margin: 0px 15px 18px 14px;
}

.card-content {
    padding-left: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card img {
    object-fit: cover;
    width: 100%;
    max-height: 174px;
    border-radius: 15px 15px 0px 0px;
}

.card-title {
    font-size: 16px;
}

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (min-width:1025px) {

    body {
    max-width: 1440px;
}

header img {
    padding-top: 30px;
    padding-bottom: 30px;
}

/***fonctionnement***/

.Fonctionnement {
    gap: 30px;
}

/****explo****/

.explo h2 {
padding-bottom: 18px;
    }
    
.explo h4 {
padding-bottom: 18px;
        }

.Fonctionnement {
    display: flex;
    flex-direction: row;
    padding: 0px 180px 25px 180px;
}

.fonctionnement_title {
    padding-left: 180px;
    padding-top: 50px;
}
 /**** restaurant ****/

 .Restaurants {
  padding-left: 180px;
 }

 .title_restaurants {
    padding-bottom: 30px;
 }

.restaurants-card {
    display: flex;
    flex-direction: row;
    margin-right: 50px;
    flex-wrap: wrap;
    padding-bottom: 30px;
}

.card {
    min-width: 490;
}

.card img {
    max-height: 235px;
}

.card-content {
    padding-left: 15px;
    min-width: 490px;
}

}


