/****animation loader ****/
#spiner {
    min-height: 100vh;
    width: 100%;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fade 1s 2s forwards;
    opacity: 1;
}

.loader {
    width: 150px;
    /* control the size */
    aspect-ratio: 1;
    display: grid;
    -webkit-mask: conic-gradient(from 22deg, #0003, #000);
    mask: conic-gradient(from 22deg, #0003, #000);
    animation: load 1s steps(8) infinite;
}

.loader,
.loader:before {
    --_g: linear-gradient(#c10fee 0 0) 50%;
    /* update the color here */
    background:
        var(--_g)/34% 8% space no-repeat,
        var(--_g)/8% 34% no-repeat space;
}

.loader:before {
    content: "";
    transform: rotate(45deg);
}

@keyframes load {
    from {
        transform: rotate(0turn)
    }

    to {
        transform: rotate(1turn)
    }
}

@keyframes fade {
    from {
        opacity: 1;
        transform: scale(0);
    }

    to {
        opacity: 0;
    }
}
